<h4 style="text-align:center;margin: 30px;">Renvoie de la notification du transfert</h4>
<form #f="ngForm" (ngSubmit)="onSubmit()">
    <div style="text-align:center;margin: 30px;" >
        <div class="p-field">
            <label style="margin: 10px;" for="fieldId">Réference de la transaction</label>
            <input style="margin: 10px;" type="text" required  pInputText [(ngModel)]="reference" name="reference"/>
            <p-button  class="btn_center" label="Rechercher" name="rechercher" (click)="findByReference()"></p-button>
        </div>
        <div class="btn_center" *ngIf="enableNotif == true">
            <p-button class="btn_center" label="Renvoyer la notification" name="rechercher" (click)="sendNotification()"></p-button>
        </div>
    </div>

    <div style="margin: 30px;">
        <p-table [value]="transactions" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                Information du donneur d'ordre
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>ID Agent</th>
                    <th>Wallet Cleint</th>
                    <th>Nom & Prénom</th>
                    <th>Date d'émission</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-transaction>
                <tr>
                    <td>{{transaction.code}}</td>
                    <td>{{transaction.name}}</td>
                    <td>{{transaction.category}}</td>
                    <td>{{transaction.quantity}}</td>
                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="summary">
                Footer
            </ng-template> -->
        </p-table>
    </div>
    <div style="margin: 30px;">
        <p-table [value]="transactions" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                Information de l'opération de transfert
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Montant à servir</th>
                    <th>Nom du bénéficiaire</th>
                    <th>Prénom du bénéficiaire</th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-transaction>
                <tr>
                    <td>{{transaction.code}}</td>
                    <td>{{transaction.name}}</td>
                    <td>{{transaction.category}}</td>
                    
                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="summary">
                Footer
            </ng-template> -->
        </p-table>
    </div>
</form>

<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>
