<div class="login-body" style="background-image: url('../../../../assets/layout/images/prof.jpg')">
    <div class="card login-panel p-fluid">
        <div class="login-panel-content">
            <div class="p-grid">
                <div class="p-col-12 p-sm-6 p-md-6 logo-container">
                    <h1 style="background-color: transparent;  font-family: Verdana"><b>Money Transfert Service</b></h1>
                    <span class="guest-sign-in">Welcome, please use the form to sign-in Money Transfert Service</span>
                </div>
                <div class="p-col-12 username-container">
                    <!-- <h:panelGroup> -->
                    <label>Login</label>
                    <div class="login-input">
                        <input [(ngModel)]="login" autofocus id="login" pInputText required type="text"/>
                        <small *ngIf="!login" class="p-invalid">Login is required.</small>
                    </div>
                    <!-- </h:panelGroup> -->
                </div>
                <div class="p-col-12 password-container">
                    <!-- <h:panelGroup> -->
                    <label>Password</label>
                    <div class="login-input">
                        <input #prt [(ngModel)]="password" autofocus id="password" pInputText required type="password"/>
                        <small *ngIf="!password" class="p-invalid">Password is required.</small>
                        <p-message id="log-pass" severity="error" style="visibility: hidden"
                                   text="Login or Password invalid"></p-message>
                    </div>
                    <!-- </h:panelGroup> -->
                </div>

                <div class="p-col-12 p-sm-6 p-md-6 rememberme-container">
                    <p-checkbox></p-checkbox>
                    <label> Remember me</label>
                </div>

                <div class="p-col-12 p-sm-6 p-md-6 forgetpassword-container">
                    <a class="forget-password" href="#">Forget Password</a>
                </div>

                <div class="p-col-12 p-sm-6 p-md-6">
                    <button (click)="findEtudiant()" icon="pi pi-check" label="Sign In" pButton type="button"></button>
                </div>
            </div>
        </div>
    </div>
</div>
