<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button> 
            <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedTransactions || !selectedTransactions.length"></button>
            <!-- <button pButton pRipple [label]="Delete"  class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedTransactions || !selectedTransactions.length"></button> -->
        </ng-template>

        <!-- <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template> -->
    </p-toolbar>

    <p-table #dt [value]="agents" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
        [(selection)]="selectedAgents" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Gestion des agents</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Id <p-sortIcon field="name"></p-sortIcon></th>
                <!-- <th>Image</th> -->
                <!-- <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th> -->
                <th pSortableColumn="category">Nom <p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="rating">Username <p-sortIcon field="rating"></p-sortIcon></th>
                <th pSortableColumn="inventoryStatus">Password<p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                <th pSortableColumn="inventoryStatus">Référence d'agence<p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-agent>
            <tr>
                <td>
                    <p-tableCheckbox [value]="agent"></p-tableCheckbox>
                </td>
                <td>{{agent.id}}</td>
                <td>{{agent.nom}}</td>
                <td>{{agent.login}}</td>
                <td>{{agent.password}}</td>
                <td>{{agent.agence.reference}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{agents ? agents.length : 0 }} products.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="agentDialog" [style]="{width: '450px'}" header="Agence Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <!-- <img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.image" class="product-image" *ngIf="product.image"> -->
        <div class="field">
            <label for="name">Nom</label>
            <input type="text" pInputText id="name" name="nom" [(ngModel)]="agent.nom" required autofocus />
            <small class="p-error" *ngIf="submitted && !agent.nom">Nom is required.</small>
        </div>

        <div class="field">
            <label for="name">Prénom</label>
            <input type="text" pInputText id="name" name="prenom" [(ngModel)]="agent.prenom" required autofocus />
            <small class="p-error" *ngIf="submitted && !agent.prenom">Prénom is required.</small>
        </div>

        <div class="field">
            <label for="name">login</label>
            <input type="text" pInputText id="name" name="login" [(ngModel)]="agent.login" required autofocus />
            <small class="p-error" *ngIf="submitted && !agent.login">Prénom is required.</small>
        </div>

        <div class="field">
            <label for="name">Password</label>
            <input type="password" pInputText id="name" name="password" [(ngModel)]="agent.password" required autofocus />
            <small class="p-error" *ngIf="submitted && !agent.password">Plafond de transaction is required.</small>
        </div>

        <div class="field">
            <p-dropdown
              (ngModelChange)="onSelectType($event)"
              style="margin: 20px;"
              name="benfaierc"
              inputId="dropdown"
              [options]="agences"
              [(ngModel)]="selectedReference"
              optionLabel="reference"
              placeholder="Sélectionner">

      </p-dropdown>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveAgent()"></button>
    </ng-template>
</p-dialog>


<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>