<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <!-- <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button> -->
            <button pButton pRipple label="Bloquer"   class="p-button-danger" (click)="OnbloquerTransaction()" [disabled]="!selectedTransactions || !selectedTransactions.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload> -->
            <button pButton pRipple label="Export" (click)="downloadPDF()" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="transactions" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
        [(selection)]="selectedTransactions" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true" id="pdfTableBloque">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Bloquer des transactions</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Identité <p-sortIcon field="name"></p-sortIcon></th>
                <!-- <th>Image</th> -->
                <th pSortableColumn="price">N°GSM <p-sortIcon field="price"></p-sortIcon></th>
                <th pSortableColumn="category">Réference du transfert <p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="rating">Status <p-sortIcon field="rating"></p-sortIcon></th>
                <th pSortableColumn="inventoryStatus">Intervalle de date <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transaction>
            <tr>
                <td>
                    <p-tableCheckbox [value]="transaction"></p-tableCheckbox>
                </td>
                <td>{{transaction.id}}</td>
                <!-- <td><img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" /></td> -->
                <!-- <td>{{transaction.pin | currency:'USD'}}</td> -->
                <td>{{transaction.pin}}</td>
                <td>{{transaction.reference}}</td>
                <td><span [class]="'product-badge status-' + (transaction.status ? transaction.status.toLowerCase() : '')">{{transaction.status}}</span></td>
                <td>{{transaction.dateEmission}}</td>
                <!-- <td><p-rating [ngModel]="transaction.dateEmission" [readonly]="true" [cancel]="false"></p-rating></td> -->
                <td>
                    <!-- <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(transaction)"></button> -->
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(transaction)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{transactions ? transactions.length : 0 }} transactions.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="transactionDialog" [style]="{width: '450px'}" header="Transactions Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <!-- <img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.image" class="product-image" *ngIf="product.image"> -->
        <div class="field">
            <label for="name">Référence</label>
            <input type="text" pInputText id="name" [(ngModel)]="transaction.reference" required autofocus />
            <small class="p-error" *ngIf="submitted && !transaction.reference">Reference is required.</small>
        </div>
        <!-- <div class="field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="transaction.reference" required rows="3" cols="20"></textarea>
        </div> -->
        <!-- <div class="field">
            <label for="inventoryStatus">Inventory Status</label>
            <p-dropdown [(ngModel)]="transaction.status" inputId="inventoryStatus" [options]="statuses" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div> -->

        <div class="field">
            <label class="mb-3">Category</label>
            <div class="formgrid grid">
                <!-- <div class="field-radiobutton col-6">
                    <p-radioButton id="category1" name="category" value="Accessories" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category1">Accessories</label>
                </div> -->
                <!-- <div class="field-radiobutton col-6">
                    <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category2">Clothing</label>
                </div> -->
                <!-- <div class="field-radiobutton col-6">
                    <p-radioButton id="category3" name="category" value="Electronics" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category3">Electronics</label>
                </div> -->
                <!-- <div class="field-radiobutton col-6">
                    <p-radioButton id="category4" name="category" value="Fitness" [(ngModel)]="product.category"></p-radioButton>
                    <label for="category4">Fitness</label>
                </div> -->
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col">
                <label for="price">Montant</label>
                <p-inputNumber id="price" [(ngModel)]="transaction.montant" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            </div>
            <div class="field col">
                <label for="quantity">Quantity</label>
                <p-inputNumber id="quantity" [(ngModel)]="transaction.pin"></p-inputNumber>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

