<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button> 
            <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedTransactions || !selectedTransactions.length"></button>
            <!-- <button pButton pRipple [label]="Delete"  class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedTransactions || !selectedTransactions.length"></button> -->
        </ng-template>

        <!-- <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template> -->
    </p-toolbar>

    <p-table #dt [value]="agences" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
        [(selection)]="selectedAgences" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Gestion des agences</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Référence <p-sortIcon field="name"></p-sortIcon></th>
                <!-- <th>Image</th> -->
                <!-- <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th> -->
                <th pSortableColumn="category">Adresse <p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="rating">Plafond de Montant <p-sortIcon field="rating"></p-sortIcon></th>
                <th pSortableColumn="inventoryStatus">Planfond de Transaction <p-sortIcon field="inventoryStatus"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-agence>
            <tr>
                <td>
                    <p-tableCheckbox [value]="agence"></p-tableCheckbox>
                </td>
                <td>{{agence.reference}}</td>
                <!-- <td><img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" /></td> -->
                <!-- <td>{{product.price | currency:'USD'}}</td> -->
                <td>{{agence.address}}</td>
                <!-- <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td> -->
                <td><p-slider [(ngModel)]="agence.plafondMontant" [min]="0" [max]="100000"></p-slider>{{agence.plafondMontant |currency:' '}}</td>
                <td><p-slider [(ngModel)]="agence.plafondTransaction" [min]="0" [max]="100000"></p-slider>{{agence.plafondTransaction | currency:''}}</td>
                <!-- <td><span [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span></td> -->
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{agences ? agences.length : 0 }} products.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="agenceDialog" [style]="{width: '450px'}" header="Agence Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <!-- <img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.image" class="product-image" *ngIf="product.image"> -->
        <div class="field">
            <label for="name">Reference</label>
            <input type="text" pInputText id="name" name="reference" [(ngModel)]="agence.reference" required autofocus />
            <small class="p-error" *ngIf="submitted && !agence.reference">Reference is required.</small>
        </div>

        <div class="field">
            <label for="description">Adresse</label>
            <textarea id="description" name="address" pInputTextarea [(ngModel)]="agence.address" required autofocus rows="3" cols="20"></textarea>
            <small class="p-error" *ngIf="submitted && !agence.ville">Adresse is required.</small>
        </div>

        <div class="field">
            <label for="name">Ville</label>
            <input type="text" pInputText id="name" name="reference" [(ngModel)]="agence.ville" required autofocus />
            <small class="p-error" *ngIf="submitted && !agence.ville">Ville is required.</small>
        </div>

        <div class="field">
            <label for="name">Plafond de Montant</label>
            <input type="text" pInputText id="name" name="montant" [(ngModel)]="agence.plafondMontant" required autofocus />
            <small class="p-error" *ngIf="submitted && !agence.plafondMontant">Plafond de montant is required.</small>
        </div>

        <div class="field">
            <label for="name">Plafond de Transaction</label>
            <input type="text" pInputText id="name" name="transaction" [(ngModel)]="agence.plafondTransaction" required autofocus />
            <small class="p-error" *ngIf="submitted && !agence.plafondTransaction">Plafond de transaction is required.</small>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveAgence()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>